name: Run Hello World

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout SCM
        uses: actions/checkout@v4

      - name: Setup Python Env
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run Hello World
        run: python3 hello-world.py "GitHub Actions"

    

